<div class="container container-small">
  <div class="card">
    <div class= "card-header">
      <div class="row">
        <div class="col-sm-11 text-center">
          <strong>問題を作成</strong>
        </div>

        <div class="col-sm-1 text-right">
          <%= link_to "戻る", @book %>
        </div>
      </div>
    </div>

    <div class="card-body">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-8 col-sm-offset-2">
            <%= render "form" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>