<div id="login_form">
  <div class="container">
    <div id="success-message" class="alert alert-success" style="display: none;">
    </div>
    <div class="card text-center">
      <div id="choices_area">
        <%= render partial: 'lesson_questions/choices',
                   locals: { choices: @choices, question: @question } %>
      </div>
    </div>
  </div>
</div>