<div class="card-img-top">
  <%= image_tag @user.icon.url(:thumb),
                class: "user_img" if @user.icon.url.present? %>
</div>
<h3 id="user_profile_name">
  <%= link_to "#{@user.name}", edit_user_registration_path %>
</h3>

<hr class="info_hr">

<div id="user_profile_email">
  <%= current_user.email %>
</div>

<%= link_to "#{t('buttons.edit')}", edit_user_registration_path,
                       class: "btn btn-warning rounded-pill" %>