<div class="col-sm-12 text-center">
  <%= image_tag @user.icon.url(:thumb),
                class: "user_img" if @user.icon.url.present? %>
</div>
<h3 id="user_profile_name" class="col-sm-12 text-center">
  <%= link_to "#{@user.name}", edit_user_registration_path %>
</h3>

<hr class="info_hr col-sm-6 col-sm-offset-2">

<div id="user_profile_email" class="col-sm-12 text-center">
  <%= current_user.email %>
</div>

<%= link_to "編集する", edit_user_registration_path,
                       class: "btn btn-xs btn-warning col-sm-4 col-sm-offset-4" %>