<div class="container container-small">
  <div class="col-sm-2">
    <div class="panel">
      <div class="panel-body">
        <div class="text-center">
          <%= render 'user_info' %>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-10">
    <div class="panel panel-default">
      <div class="panel-heading">
        <span class="heading">Questions</span>
      </div>

      <div class="panel-body">
        <% @books.each do |book| %>
          <div class="media">
            <div class="media-left media-middle">
              <%= image_tag book.image.url(:thumb),  class: "book_img" %>
            </div>

            <div class="media-body media-middle">
              <div>
                <%= book.title %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>