<div class="container container-small">
  <div class="panel panel-default">
    <div class= "panel-heading">
      <div class="row">
        <div class="text-center">
          <span><strong><%= t('book.edit') %></strong></span>
        </div>
      </div>
    </div>

    <div class="panel-body">
      <div class="row">
        <div class="col-sm-9 col-sm-offset-3 col-center">
          <%= render 'form' %>
        </div>
      </div>
    </div>
  </div>
</div>