// All
html {
  font-size: 62.5%;
  height: 100%;
}

body {
  height: 100%;
  background-color: #e9ebee36;

  .container {
    width: 100%;
    min-height: 100%;
    position: relative;
  }
}

.panel {
  border: 1px solid #d2cdcd;
}

// フラッシュメッセージ、エラーメッセージ
.alert {
  text-align: center;

  h2, li {
    text-align: left;
  }
}

#error_explanation {
  text-align: center;
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
  text-align: center;
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;

  h3 {
    text-align: center;
  }

  li {
    text-align: left;
  }
}

// Header
header {
  background-color: #06abf994;
  text-decoration: none;

  a {
     color: white;
     font-weight: bold;
  }

  .navbar {
    margin-bottom: 0px;
  }

  .navbar-brand {
    font-size: 30px;
    padding-left: 45px;
  }

  .nav-item {
    a {
      text-decoration: none;
    }
  }

  .navbar-right {
    margin-right: 50px;
  }

  .container {
    margin: 0 auto;
    width: 100%;
  }
}

// Footer
footer {
  height: 60px;
  width: 100%;
  background-color: #e5e9ec;
  position: absolute;
  display: table;

  p {
    color: #737373;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
  }
}

// Home
.info {
  h1 {
    text-align: center;
  }

  p {
    padding: 0 100px 100px 100px;
  }
}

// Forms
#form_container {
  width: 850px;
  margin: 0 auto;
}

#form {
  .col-sm-5 {
    background-color: #e2e0e0;
  }

  .col-center{
    float: none;
    margin: 0 auto;
  }
}

// Book Image
.book_img, .user_img {
  width: 143px;
  height: 200px;
}

// Book/Form
#book_img_prev {
  width: 143px;
  height: 200px;
}

textarea#book_description {
  height: 80px;
}

#book_buttons {
  margin-top: 45px;

  .btn {
    width: 55px;
  }
}

.container-small {
  margin-top: 60px;
}

// Book/Show
hr.info_hr {
  margin-top: 10px;
  margin-bottom: 10px;
}

// User/Edit(devise)
#edit_title {
  padding-left: 100px;
}

#back_button {
  margin-top: 5px;
}

// User/Show
.user_img {
  width:  100px;
  height: 120px;
  border-radius: 50%;
  background-position: left top;
  border: 1px solid #b9b1b1;
}

#user_profile_name {
  margin-top: 10px;
  margin-bottom: 10px;

  a {
    color: #2e2f2f;
  }
}

#user_profile_email {
  margin-bottom: 8px;
}

#user_books {
  padding: 15 60px;
}

#book_pagination {
  padding-left: 10px;
}

#book_box {
  margin-bottom: 15px;
  padding: 0 40px;
}

#box_inner {
  background-color: #5cc2f326;
  border-radius: 10px;

  .book_img {
    padding-top: 10px;
  }
}

#my_page_book_title {
  font-weight: bold;
  margin-top: 5px;
  padding: 0 40px;
  max-height: 30px;
  min-height: 30px;
  overflow-y: auto;
  word-wrap: break-word;
}

#book_info_hr {
  width: 149px;
  margin-top: 0;
  margin-bottom: 5px;
  padding: 0;
  border-color: #dbdede;
}

#my_page_book_description {
  padding: 0 40px;
  min-height: 40px;
  max-height: 40px;
  line-height: 15px;
  white-space:normal;
  overflow-y: auto;
  font-size: 12px;
  word-wrap: break-word;
}

#start_button {
  margin-top: 10px;
  margin-bottom: 10px;
}